html{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
strong{
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
color: blueviolet;
}

img{
    width: 550px;
}