html {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.texto {
    display: flex;
    align-items: center;
}

strong, a {
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


img {
    width: 500px;

}

